/* @theme rose-pine-andrea */
/*
Modified version of:
Rosé Pine theme create by RAINBOWFLESH
> www.rosepinetheme.com

palette in :root
*/

@import "default";
@import "schema";
@import "structure";

:root {
    --base: #191724;
    --surface: #1f1d2e;
    --overlay: #26233a;
    --muted: #6e6a86;
    --subtle: #908caa;
    --text: #e0def4;
    --love: #eb6f92;
    --gold: #f6c177;
    --rose: #ebbcba;
    --pine: #31748f;
    --foam: #9ccfd8;
    --iris: #c4a7e7;
    --highlight-low: #21202e;
    --highlight-muted: #403d52;
    --highlight-high: #524f67;

    --h1-size: 34pt;
    --h2-size: 22pt;

    --text-size: 20pt;
    --text-weight: 400;

    --table-text-size: 14pt;
    --table-header-size: 16pt;
    --table-line-color: #333;

    --code-size: 14pt;
    --code-block-size: 14pt;

    font-family: Pier Sans, ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
        "Noto Color Emoji";

    font-weight: initial;

    background-color: var(--base);
}

/* Common style */
h1 {
    color: var(--rose);
    font-size: var(--h1-size);
}
h2 {
    color: var(--rose);
    font-size: var(--h2-size);
}
h3 {
    color: var(--rose);
    font-size: var(--h2-size);
}
h4 {
    color: var(--rose);
    font-size: var(--h2-size);
}
h5 {
    color: var(--rose);
    font-size: var(--h2-size);
}
h6 {
    color: var(--rose);
    font-size: var(--h2-size);
}
a {
    color: var(--iris);
}
p {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    color: var(--text);
}
code {
    font-size: var(--code-size);
    color: var(--text);
    background-color: var(--highlight-muted);
}
text {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    color: var(--text);
}
ul {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    color: var(--text);
}
li {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    color: var(--text);
}
img {
    background-color: var(--highlight-low);
}
strong {
    color: var(--text);
    font-weight: inherit;
    font-weight: 800;
}
mjx-container {
    color: var(--text);
}
marp-pre {
    background-color: var(--overlay);
    border-color: var(--highlight-high);
}


/* Style the table itself */
table {
    width: 100%; /*Optional: to make the table take up the full width of its container*/
}
  
/* Style the table headers (th) */
table th {
    background-color: var(--surface); /* Change the background color of the headers */
    color: var(--text); /* Change the text color of the headers */
    font-size: var(--table-header-size); /* Increase the font size of the headers */
    padding: 10px; /* Add some padding to make the headers look better */
    text-align: left; /* Align the text in the headers */
    border: 1px solid var(--table-line-color); /* Add a light gray border around each cell */
}

/* Style the table data (td) */
table td {
    background-color: var(--base); /*Change the background color of the table*/
    color: var(--text);
    border: 1px solid var(--table-line-color); /* Add a light gray border around each cell */
    padding: 10px; /* Add some padding to make the cells look better */
    font-size: var(--table-text-size); /* Increase the font size of the table data */
}

/* Optional: Style the table rows on hover */
table tr:hover {
    background-color: #f5f5f5; /* Change the background color of the row on hover */
}

/* code block*/
pre {
    font-size: var(--code-block-size);
}

/* Code blok */
.hljs-comment {
    color: var(--muted);
}
.hljs-attr {
    color: var(--foam);
}
.hljs-punctuation {
    color: var(--subtle);
}
.hljs-string {
    color: var(--gold);
}
.hljs-title {
    color: var(--foam);
}
.hljs-keyword {
    color: var(--pine);
}
.hljs-variable {
    color: var(--text);
}
.hljs-literal {
    color: var(--rose);
}
.hljs-type {
    color: var(--love);
}
.hljs-number {
    color: var(--gold);
}
.hljs-built_in {
    color: var(--love);
}
.hljs-params {
    color: var(--iris);
}
.hljs-symbol {
    color: var(--foam);
}
.hljs-meta {
    color: var(--subtle);
}
